<!DOCTYPE html>
<html>
<head>
	<title>File Metadata Microservice | FreeCodeCamp</title>
</head>
<body>

<form action="/uploads" method="post" enctype="multipart/form-data">
	<label for="file">Choose a file</label>
	<br><br>
	<input type="file" name="file">
	<br><br>
	<input type="submit" value="Upload">
</form>

</body>
</html>